# Dependencies
node_modules/
package-lock.json

# Build and Electron
dist/
release/
*.asar

# Environment Variables
.env

# OS specific
.DS_Store
Thumbs.db

# Mediasoup build files
server/lib/

# notes
mimari.txt

# uploads
uploads/
